.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    display: flex;
    border: 2px solid black;
    width: 50vw;
    margin-left: 25vw;
    padding: 3vw;
}

.form>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form>form>button {
    border: none;
    background: none;

    border: 3px solid limegreen;
    border-radius: 30px;
    width: 20vw;
    align-self: center;
    justify-self: center;
    background-color: limegreen;
    color:white
}

.form >form>button:hover {
    border-color: aqua;
    background-color: aqua;
}

.form>form>button:active {
    border-color: green;
    background-color: green;
}